<header>
    <div class="drop-container">
        <button class="botao borda botao-header margem-inferior">Navegação</button>
        <div class="drop-conteudo borda">
            <a href="#">Link 1</a> <a href="#">Link 2</a> <a href="#">Link 3</a>
        </div>
    </div>

    <div id="logo">Locadora Sem Nome</div>

    <div class="drop-container">
        <button class="botao borda botao-header margem-inferior">Autenticação</button>
        <div class="drop-conteudo borda">
            <a href="#">Link 1</a> <a href="#">Link 2</a> <a href="#">Link 3</a>
        </div>
    </div>
</header>