<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">

<link href="https://fonts.googleapis.com/css?family=Gilda+Display" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/lodash/4/lodash.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>

<link rel="stylesheet" href="./src/css/reset.css">
<link rel="stylesheet" href="./src/css/master.css">

<script src="./src/js/main.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="favicon.ico">