@font-face {
	font-family: "Playfair Display";
	src: url("../assets/fonts/PlayfairDisplay-Regular.otf");
}

@font-face {
	font-family: "Abril Fatface";
	src: url("../assets/fonts/PlayfairDisplay-Regular.otf");
}

@font-face {
	font-family: "Gilda";
	src: url("../assets/fonts/GildaDisplay-Regular.ttf");
}
